{% extends "blog/base.html" %}

{% block content %}
 <h1>About us </h1>

<p>Owing to the high demand for higher education the government of Kenya was forced to introduce cost sharing in higher education in the early 1991/1992 academic year, so as to allow the public purse to cater to health, infrastructure, primary education and eradicate poverty.</p>
<p>The cost-sharing policy that was implemented in all public universities in Kenya. The policy advocates that costs of higher education should be shared between the government, parents, students and/or donor organizations. It was a radical policy change from “the state-centered model” of financing universities to “the market competitive model” that was necessitated by the economic recession in the country in the 1980s.</p>

<p>The University management saw the need to create the Office of the Special Student Advisor (the office has been renamed as Financial Aid Office) to ensure that needy students do not fail to pursue their academic studies due to lack of finances or other challenges and it was immediately established.</p>
<p>The mission is to provide to needy students an enabling environment and safety net though advisory, counseling and guidance services. Our vision is to support students to achieve their academic goals and aspirations. And our core values are confidentiality, empathy, professionalism, quality customer service, strong social responsibility, teamwork and tolerance.</p>


{% endblock content %}